@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
.hr{
  margin-top: 28px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
ul li{
  cursor: pointer;
  transition: .5s ;
}
ul li:hover{
  color: #F5643D;
}

.hr hr{
  width: 80%;
  height: 1px;
  background: #E0E0E0;

}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
